{{ form_start(form) }}
    {{ form_row(form.codePromo) }} {# Render the input field for 'codePromo' #}

    {# Optionally render other fields here #}

    <button type="submit">Submit</button>
{{ form_end(form) }}
