{% extends 'admin.html.twig' %}

{% block title %}New Product{% endblock %}

{% block body %}
    <h1 style="text-align: center;">Create new Product</h1>
    {{ include('product/_form.html.twig') }}



{% endblock %}
