{% extends 'admin.html.twig' %}

{% block title %}New Programme
{% endblock %}

{% block body %}
	<div class="container" style="display: flex; justify-content: center; align-items: center;">
		<div>
        <div class="page-title">Add Programme</div>

			{{ include('back/programme/_form.html.twig') }}

		{% endblock %}
