{% extends 'admin.html.twig' %}

{% block title %}New Programme{% endblock %}

{% block body %}
<div style="margin-top:100px" class="page-title">New Programme</div>

    {{ include('back/programme/_form.html.twig') }}

    <a href="{{ path('app_programme_indexb') }}">back to list</a>
{% endblock %}
