{% extends 'admin.html.twig' %}

{% block title %}New Programme
{% endblock %}

{% block body %}
	<div class="container" style="display: flex; justify-content: center; align-items: center;">
		<div>
			<a class="btn flosun-button primary-btn rounded-0 mr-2" href="{{ path('app_programme_indexb') }}">Back To List</a>
        <div class="page-title">Add Programme</div>

			{{ include('back/programme/_form.html.twig') }}

		{% endblock %}
