{% extends 'base.html.twig' %}

{% block title %}New Programme{% endblock %}

{% block body %}
<div style="margin-top:100px" class="page-title">New Programme</div>

    {{ include('programme/_form.html.twig') }}

    <a href="{{ path('app_programme_index') }}">back to list</a>
{% endblock %}
