{% extends 'Admin.html.twig' %}

{% block title %}New Session{% endblock %}

{% block body %}
    <div style="margin-top:100px" class="page-title">  <h1>Create new Session</h1></div>

    {{ include('backend/session/_form.html.twig') }}

    <a href="{{ path('app_session_index_admin') }}">back to list</a>
{% endblock %}
