{% extends 'admin.html.twig' %}

{% block title %}New Exercice{% endblock %}

{% block body %}
<div style="margin-top:100px" class="page-title">New Exercice</div>

    {{ include('exercice/_form.html.twig') }}

{% endblock %}
