{% extends 'base.html.twig' %}

{% block title %}New Programme{% endblock %}

{% block body %}

    {{ include('programme/_form.html.twig') }}

    <a href="{{ path('app_programme_index') }}">back to list</a>
{% endblock %}
